In [1]:
# Kerakli kutubxonalarni yuklab olish
import pandas as pd

In [8]:
# CSV ni yuklab olish
csv_path = "usd_rates.csv"
df = pd.read_csv(csv_path)
df.head()

,id,Code,Ccy,CcyNm_RU,CcyNm_UZ,CcyNm_UZC,CcyNm_EN,Nominal,Rate,Diff,Date
0,1,840,USD,Доллар США,AQSH dollari,АҚШ доллари,US Dollar,1,8299.20,21.67,27.11.2018
1,1,840,USD,Доллар США,AQSH dollari,АҚШ доллари,US Dollar,1,8299.20,21.67,27.11.2018
2,1,840,USD,Доллар США,AQSH dollari,АҚШ доллари,US Dollar,1,8299.20,21.67,27.11.2018
3,1,840,USD,Доллар США,AQSH dollari,АҚШ доллари,US Dollar,1,8314.85,15.65,04.12.2018
4,1,840,USD,Доллар США,AQSH dollari,АҚШ доллари,US Dollar,1,8314.85,15.65,04.12.2018

In [9]:
# Kerakli ustunlarni alohida DataFrame ga nusxalash
selected_cols = ["Ccy", "Rate", "Diff", "Date"]
df = df[selected_cols].copy()
df.head()

   Ccy     Rate   Diff        Date
0  USD  8299.20  21.67  27.11.2018
1  USD  8299.20  21.67  27.11.2018
2  USD  8299.20  21.67  27.11.2018
3  USD  8314.85  15.65  04.12.2018
4  USD  8314.85  15.65  04.12.2018

In [10]:
# Jadval haqida qisqa ma'lumot
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5196 entries, 0 to 5195
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ccy     5196 non-null   object
 1   Rate    5196 non-null   float64
 2   Diff    5196 non-null   float64
 3   Date    5196 non-null   object
dtypes: float64(2), object(2)
memory usage: 162.5+ KB

In [11]:
# Duplicate qatorlarni tozalash
before = len(df)
df = df.drop_duplicates()
after = len(df)
print(f"Jami: {before}")
print(f"Duplicate tozalandi: {before - after} ta qator olib tashlandi")
print(f"Qoldi: {after}")

Jami: 5196
Duplicate tozalandi: 3879 ta qator olib tashlandi
Qoldi: 1317

In [12]:
# Bo'sh qiymatlarni tekshirish va tozalash
null_counts = df.isna().sum()
print("Har bir ustundagi bo'sh qiymatlar soni:\n", null_counts)
df = df.dropna()
print(f"Dropna'dan so'ng qatorlar soni: {len(df)}")

Har bir ustundagi bo'sh qiymatlar soni:
 Ccy     0
Rate    0
Diff    0
Date    0
dtype: int64
Dropna'dan so'ng qatorlar soni: 1317